{% extends 'layout.html' %}

{% block body %}
    <main>

        <section class="card-panel row bg-dark-grey">
            <div class="col s6">
                <img class="responsive-img" src="/static/images/car_image.png" alt="" srcset="">
            </div>

            <div class="col s6">
                <h3>The Luxury Model G2</h3>
                <a href="#design" class="btn">Features</a>
            </div>

        </section>

        <section id="electric" class="card-panel bg-dark-grey">
            <h2 class="blueish">
                Why Electric Cars?
            </h2>
            <div class="row">
                <div class="col s1"></div>
                <div class="col s6">
                    <div class="bg-grey container card-panel">
                        <p>
                            Dynamic Stream, both unlike other gas fueled automobiles and eletric car companies,
                            values increasing accessibility to sustainable energy in a time of great global harm.
                            Electric cars can be faster, more fun, better, and safer than gasoline cars, contrary to
                            popular belief.
                        </p>
                        <p>
                            All Dynamic Stream cars utilize the best in safety, preformance, and efficency and raises
                            those standards
                            for all cars. Our cars exceed the longest range for any electric vehicle, superior over the
                            air software
                            updates, and even the fastest acceleration time of 0-70MPH in 2.28 seconds according to
                            Motor Trend.
                        </p>
                    </div>
                </div>
                <div class="col s5">
                    <img class="responsive-img" src="/static/images/smart_car.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="container" id="about">
            <h2>About us</h2>
            <div class="about-grid">
                <div class="card-panel">
                    <h3>Vision</h3>
                    <p>
                        Dynamic Stream is a affordable car which we continue to produce accessibly to more and more
                        people.
                        Ultimately we are active in accelerating the progress of clean transportation and clean
                        energy.
                        Electric cars, batteries, and renewable energy generation and storage already exist
                        independently,
                        but when combined, they become even more powerful – that’s the future we are paving.
                    </p>
                    <p>
                        All Dynamic Stream vehicles and components are produced at its factory in Grand Prairie,
                        Texas.
                        To achieve our goal of having the safest factories in the world, Dynamic Stream is taking a
                        proactive
                        approach to safety, requiring production employees to participate in a multi-day training
                        program before
                        ever setting foot on the factory floor. From there, Dynamic Stream continues to provide
                        on-the-job training
                        and track performance daily so that improvements can be made quickly.
                    </p>
                </div>
                <div class="card-panel">
                    <h3>Mission</h3>
                    <p>Lead the transition to sustainable energy through the utilization of electric cars.</p>
                </div>
                <img class="about-image" src="/static/images/green_car.png" alt="">
            </div>
        </section>

        <section id="design">
            <div class="teal pic1"><img src="/static/images/car_pic1.jpg" alt=""></div>
            <div class="red pic2"><img src="/static/images/car_pic2.jpg" alt=""></div>
            <div class="pink pic3"><img src="/static/images/car_pic3.jpg" alt=""></div>
            <div class="purple pic4"><img src="/static/images/car_pic4.jpg" alt=""></div>
            <!-- <div class="blue pic5"><img src="/static/images/car_pic5.jpg" alt=""></div> -->
            <div class="green pic6"><img src="/static/images/car_pic6.jpg" alt=""></div>
            <div class="text">
                <h3>About Our Vehicles...</h3>
                <p>
                    All Dynamic Stream vehicles are designed to be the safest vehicle in its class. The low center of
                    gravity, rigid body structure and large crumple zones provide unparalleled protection.
                </p>
                <p>
                    The vehicles provides maximum versatility—able to carry at most 7 passengers and their cargo. Each
                    second row seat folds flat independently, creating flexible storage for skis, furniture, luggage and
                    more. The liftgate opens to a low trunk floor that makes loading and unloading easy and quick.
                </p>
                <p>
                    Dynamic Stream utilizes an All-Wheel Drive that has two ultra-responsive, independent electric
                    motors that digitally control torque to the front and rear wheels—for far better handling, traction
                    and stability control. All vehicles are capable in rain, snow, mud and off-road.
                </p>
                <p>
                    All vehicles are fully electric, so you never need to visit a gas station again. If you charge
                    overnight at home, you can wake up to a full battery every morning. And when you’re on the road,
                    it’s easy to plug in along the way—at any public station or with the Dynamic Stream charging
                    network. We currently have over 14,000 Superchargers worldwide, with six new locations opening every
                    week.
                </p>
            </div>
        </section>

        <br><br>

        <section id="contact" class="card-panel contact">
            <div class="row">
                <div class="col offset-s7 s5">
                    <div class="card-panel bg-dark-grey">
                        <h4 class="blueish">Contact Us</h4>
                        <div class="row">
                            <div class="col s12">
                                <form action="">
                                    <div class="row">
                                        <div class="input-field col s5">
                                            <label for="name">Name</label>
                                            <input id="name" class="validate" type="text">
                                        </div>
                                        <div class="input-field col s5 offset-s2">
                                            <label for="email">Email</label>
                                            <input id="email" class="validate" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field">
                                                <textarea id="message" class="materialize-textarea"></textarea>
                                                <label for="message">Your Message</label>
                                            </div>
                                            <div class="input-field">
                                                <input type="submit" class="btn" value="Send">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock body %}
