.grid-container {
  display: grid;
  grid-template-columns: 2fr 0.1fr 4fr 3fr;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-areas: "team 		         . picture picture" 
  		                 "responsibilities  . picture picture" 
		                   "responsibilities . officer contact";

  padding-left: 80px;
  padding-top: 30px;
  padding-right: 80px;

  grid-gap: 20px 50px;
}

.team { grid-area: team; }

.picture { grid-area: picture; }

.officer { grid-area: officer; }

.contact { grid-area: contact; }

.responsibilities { grid-area: responsibilities; }
