.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:  "officer pic" 
						"contact pic"
						"contact pic";

  padding-left: 80px;
  padding-top: 30px;
  padding-right: 80px;

  grid-gap: 20px 50px;
}

.team { grid-area: team; }

.picture { grid-area: picture; }

.officer { grid-area: officer; }

.contact { grid-area: contact; }

.responsibilities { grid-area: responsibilities; }
