<header>
    <nav class="bg-dark-grey">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img style="float: left" src="/static/images/logo_pic.png" alt=""> Dynamic Stream
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="text-grey right hide-on-med-and-down">
                <li><a href="#electric">Why Electric?</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#design">Car Design</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="/home">Return to TSA</a></li>
            </ul>
        </div>
    </nav>
    <hr class="nav-line">
    <ul class="bg-dark-grey sidenav grey-text text-lighten-4" id="mobile-demo">
        <li><a href="#Electric">Why Electric?</a></li>
        <li><a href="#about">About us</a></li>
        <li><a href="#design">Car Design</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="/home">Return to TSA</a></li>
    </ul>
</header>
