{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/about.css">
{% endblock css %}

{% block body %}
<br><br>
<section class="container header row">
    <div class="col s3">
        <img class="responsive-img" src="/static/images/lonergan.jpeg" alt="">
    </div>
    <div class="col s9">
        <p>
            Our TSA Chapter was founded by Robert Lonergan in 2016. It was called Dubiski first TSA chapter and time
            competing in such organization. We started our first year out strong with amazing officers and many
            member who were interested in what we had to offer. Sent a handful of people to state to represent us
            and even a group to nationals.
        </p>
    </div>
</section>
<br><br>
<div class="card">
    <div class="card-content">
        <center><h5><b>What is TSA?</b></h5></center>
      <p>The Technology Student Association (TSA) is a national organization of students engaged in science, technology, engineering, and mathematics (STEM). The Technology Student Association (TSA), formerly the American Industrial Arts Association (AIASA), 
        is the oldest student membership organization dedicated exclusively to students enrolled in technology and engineering education classes in middle and high schools. Its rich history spans four decades. From 1958 to 1978, AIASA is a sponsored activity 
        of the American Industrial Arts Association (AIAA). In 1978, the nonprofit corporation, AIASA, Inc., is formed to oversee AIASA as a separate organization. From 1978 to 1988, the organization grows in size, strength, structure, and impact on students and secondary school programs. In the summer of 1988, AIASA becomes the Technology Student Association.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Our Goals</a></li>
        <li class="tab"><a class="active" href="#test5">Student Members</a></li>
        <li class="tab"><a href="#test6">TSA Creed</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">
          <p><b>Mission Statement:</b>The Technology Student Association (TSA) enhances personal development, leadership, and career opportunities in science, technology, engineering, and math (STEM), whereby members apply and integrate these concepts through intracurricular activities, competitions, and related programs.</p>
          &nbsp;
          <p><b>Vision:</b>TSA is accelerating student achievement and supporting teachers by providing engaging opportunities to develop STEM skills.</p>
          &nbsp;
          <p><b>Motto:</b>Learning to lead in a technical world.</p>
          &nbsp;
      </div>
      
      
      <div id="test5">Open to students enrolled in or who have completed technology education courses, TSA’s membership includes more than 250,000 middle and high school students across the United States. 
          TSA is supported by educators, parents, and business leaders who believe in the need for a technologically literate society. Members learn through exciting competitive events, leadership opportunities, and much more. A wide range of activities makes TSA a positive experience for every student.</div>
      <div id="test6">I believe that Technology Education holds an important place in my life in the technical world. I believe there is a need for the development of good attitudes concerning work, tools, materials, experimentation, and processes of industry. Guided by my teachers, artisans from industry, and my own initiative, 
          I will strive to do my best in making my school, community, state, and nation better places in which to live. I will accept the responsibilities that are mine. I will accept the theories that are supported by proper evidence. I will explore on my own for safer, more effective methods of working and living. I will strive to 
          develop a cooperative attitude and will exercise tact and respect for other individuals. Through the work of my hands and mind, I will express my ideas to the best of my ability. I will make it my goal to do better each day the task before me, and to be steadfast in my belief in my God, and my fellow Americans.</div>
    </div>
  </div> 







<section class="about-stuff">
    <div class="tsa">
        <h5>What is TSA?</h5>
        <p>
            The Technology Student Association (TSA) is a national organization of students engaged in science,
            technology, engineering, and mathematics (STEM). The Technology Student Association (TSA), formerly the
            American Industrial Arts Association (AIASA), is the oldest student membership organization dedicated
            exclusively to students enrolled in technology and engineering education classes in middle and high schools.
            Its rich history spans four decades. From 1958 to 1978, AIASA is a sponsored activity of the American
            Industrial Arts Association (AIAA). In 1978, the nonprofit corporation, AIASA, Inc., is formed to oversee
            AIASA as a separate organization. From 1978 to 1988, the organization grows in size, strength, structure,
            and impact on students and secondary school programs. In the summer of 1988, AIASA becomes the Technology
            Student Association.
        </p>
    </div>

    <div class="mision">
        <h5>Mission Statement</h5>
        <p>
            The Technology Student Association (TSA) enhances personal development, leadership, and career opportunities
            in science, technology, engineering, and math (STEM), whereby members apply and integrate these concepts
            through intracurricular activities, competitions, and related programs.
        </p>
    </div>

    <div class="members">
        <h5>Student Members</h5>
        <p>
            Open to students enrolled in or who have completed technology education courses, TSA’s membership includes
            more than 250,000 middle and high school students across the United States. TSA is supported by educators,
            parents, and business leaders who believe in the need for a technologically literate society. Members learn
            through exciting competitive events, leadership opportunities, and much more. A wide range of activities
            makes TSA a positive experience for every student.
        </p>
    </div>

    <div class="vision">
        <h5>Vision</h5>
        <p>
            TSA is accelerating student achievement and supporting teachers by providing engaging opportunities to
            develop STEM skills.

        </p>
    </div>

    <div class="motto">
        <h5>Motto</h5>
        <p>
            Learning to lead in a technical world.
        </p>
    </div>

    <div class="creed">
        <h5>TSA Creed</h5>
        <p>
            I believe that Technology Education holds an important place in my life in the technical world. I believe
            there is a need for the development of good attitudes concerning work, tools, materials, experimentation,
            and processes of industry. Guided by my teachers, artisans from industry, and my own initiative, I will
            strive to do my best in making my school, community, state, and nation better places in which to live. I
            will accept the responsibilities that are mine. I will accept the theories that are supported by proper
            evidence. I will explore on my own for safer, more effective methods of working and living. I will strive to
            develop a cooperative attitude and will exercise tact and respect for other individuals. Through the work of
            my hands and mind, I will express my ideas to the best of my ability. I will make it my goal to do better
            each day the task before me, and to be steadfast in my belief in my God, and my fellow Americans.
        </p>
    </div>
</section>

<svg class="swirl-1" width="577" height="1391" >
    <path
        d="M152.856 1021.8C139.789 1068.91 75.72 1193.9 -76.0191 1316.96L-160.422 1222.83C-132.288 1254.21 -81.6233 1266.52 -104.041 1064.73C-126.458 862.952 -46.1702 933.64 -3.22437 994.207L-68.9465 705.357C-53.8257 700.244 7.09304 656.65 129.801 523.172C252.51 389.695 96.3029 379.48 2.86093 391.058C0.883343 352.458 -51.3497 151.255 -3.22436 -1.5C44.901 -154.255 258.876 91.7202 329.694 190.895C370.295 213.982 462.714 273.106 507.582 324.907C552.45 376.708 454.594 497.315 400.058 551.144C344.603 578.576 219.232 641.141 161.387 671.942C103.542 702.743 131.597 918.013 152.856 1021.8Z"
        fill="#A9DFFF" />
</svg>

<svg class="swirl-2" width="430" height="1152">
    <path d="M246.5 356.5C251.167 307.833 302 147.6 430 0L520 104C486.833 78 434.8 74.7 492 269.5C549.2 464.3 496.333 434.167 443.5 382L520 629.5C506 637.167 453.6 690.7 356 843.5C258.4 996.3 414 979.167 504 951.5C512.667 989.167 524.8 1104.2 504 1263C483.2 1421.8 304 1290.83 217 1205.5C173 1189.83 71.7 1147.7 18.5 1104.5C-34.7 1061.3 40.6667 925.5 85 863C134.833 826.333 247.4 742.9 299 702.5C350.6 662.1 285.5 455 246.5 356.5Z" fill="#A9DFFF"/>
</svg>

{% endblock body %}
