<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Brief</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/design_brief.css">
</head>
<body>
    <header>
        <nav class="blue darken-3">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Dynamic Stream</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#Electric">Why Electric?</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#design">Car Design</a></li>
                    <li><a href="#order">Order Now</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="/home">Return to TSA</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#Electric">Why Electric?</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#design">Car Design</a></li>
            <li><a href="#order">Order Now</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="/home">Return to TSA</a></li>
        </ul>
    </header>
    <main>
    <section class="hero">
        <img src="/static/images/car_image_no_shadow.png" alt="" srcset="">
        <div class="ad">
            <h2>The Luxury Model G2</h2>
            <a href="#design" class="btn">Features</a>
        </div>
    </section>

    sec

    </main>
    <footer class="page-footer blue darken-3">
        <div class="footer-copyright center">
            <div class="container">
                © 2020 Copyright Text
            </div>
        </div>
    </footer>
</body>
</html>
