{% extends 'layout.html' %}

{% block body %}
<section class="grey">
    <div class="valign-wrapper container">
        <div class="row">
            <div class="col s6">
                <h1>Welcome to Dubiski TSA</h1>
            </div>
            <div class="col s6">
                <p>
                    Tsa strengthens STEM’s personal development, leadership and career opportunities by incorporating
                    these principles and implementing them into intracurricular events, competitions and related
                    programs.
                </p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="row">
        <div class="col s2">
            <h2>Video</h2>
        </div>
        <div class="col s10">
            <p>
                Dubiski’s Technology Student Association chapter envokes the mission of TSA by enhancing personal
                development, leadership, and career opportunities in STEM. All while encouraging it’s members to apply
                and integrate these concepts through intracurricular activities, competitions, and other related
                programs.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col s4">
            <div class="card-panel">
                <h4>Competition</h4>
                <p>
                    Through participation in TSA activities, 92% Dubiski TSA members say they learned how to communicate
                    thoughts and ideas, how to organize a presentation and more about what their future professions will
                    entail for them.
                </p>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel">
                <h4>Competition</h4>
                <p>
                    Through participation in TSA activities, 92% Dubiski TSA members say they learned how to communicate
                    thoughts and ideas, how to organize a presentation and more about what their future professions will
                    entail for them.
                </p>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>

        <div class="col s4">
            <div class="card-panel">
                <h4>Competition</h4>
                <p>
                    Through participation in TSA activities, 92% Dubiski TSA members say they learned how to communicate
                    thoughts and ideas, how to organize a presentation and more about what their future professions will
                    entail for them.
                </p>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3>Upcoming Events</h3>

            <div class="grey lighten-4">
                <b>GPISD Adopt - A - Street Volunteer Event - March 14th</b>
                <p>
                    Earn 75 points toward graduation by volunteering on March 14, 2020 to clean up a street in our city!
                    Click the link below to sign up and contact an officer if you have any questions.
                </p>
                <a href="/events" class="btn">Learn More</a>
            </div>

        </div>
    </div>
</section>
{% endblock body %}