{% extends 'layout.html' %}

{% block body %}
<section style="background:#B6C6F0">

    <div class="valign-wrapper container">
        <div class="row">
            <div class="col s6">
                <h1><b>Welcome To Dubiski TSA</b></h1>
                <p>
                    TSA strengthens STEM’s personal development, leadership and career opportunities by incorporating
                    these principles and implementing them into intracurricular events, competitions and related
                    programs.
                </p>
            </div>
            <div class="col s6">
                <img class="responsive-img" src="/static/images/tsa_kids.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="card side z-depth-3">
        <div class="card-content grey lighten-5">
            <center>
                <h5><b>What is TSA?</b></h5>
            </center>
            <p>The Technology Student Association (TSA) is a national organization of students engaged in science,
                technology, engineering, and mathematics (STEM). The Technology Student Association (TSA), formerly the
                American Industrial Arts Association (AIASA),
                is the oldest student membership organization dedicated exclusively to students enrolled in technology
                and engineering education classes in middle and high schools. Its rich history spans four decades. From
                1958 to 1978, AIASA is a sponsored activity
                of the American Industrial Arts Association (AIAA). In 1978, the nonprofit corporation, AIASA, Inc., is
                formed to oversee AIASA as a separate organization. From 1978 to 1988, the organization grows in size,
                strength, structure, and impact on students and secondary school programs. In the summer of 1988, AIASA
                becomes the Technology Student Association.
                Dubiski’s Technology Student Association chapter envokes the mission of TSA by enhancing personal
                development, leadership, and career opportunities in STEM. All while encouraging it’s members to apply
                and integrate these concepts through intracurricular activities, competitions, and other related
                programs.
            </p>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#test4">Our Goals</a></li>
                <li class="tab"><a class="active" href="#test5">Student Members</a></li>
                <li class="tab"><a href="#test6">TSA Creed</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="test4">
                <p>

                    <b>Mission Statement:</b>
                    The Technology Student Association (TSA) enhances personal development,
                    leadership, and career opportunities in science, technology, engineering, and math (STEM), whereby
                    members apply and integrate these concepts through intracurricular activities, competitions, and
                    related programs.
                </p>
                <br>
                <p>

                    <b>Vision:</b>
                    TSA is accelerating student achievement and supporting teachers by providing engaging
                    opportunities to develop STEM skills.
                </p>
                <br>
                <p>

                    <b>Motto:</b>
                    Learning to lead in a technical world.
                </p>
                <br>
            </div>


            <div id="test5">Open to students enrolled in or who have completed technology education courses, TSA’s
                membership includes more than 250,000 middle and high school students across the United States.
                TSA is supported by educators, parents, and business leaders who believe in the need for a
                technologically literate society. Members learn through exciting competitive events, leadership
                opportunities, and much more. A wide range of activities makes TSA a positive experience for every
                student.</div>
            <div id="test6">I believe that Technology Education holds an important place in my life in the technical
                world. I believe there is a need for the development of good attitudes concerning work, tools,
                materials, experimentation, and processes of industry. Guided by my teachers, artisans from industry,
                and my own initiative,
                I will strive to do my best in making my school, community, state, and nation better places in which to
                live. I will accept the responsibilities that are mine. I will accept the theories that are supported by
                proper evidence. I will explore on my own for safer, more effective methods of working and living. I
                will strive to
                develop a cooperative attitude and will exercise tact and respect for other individuals. Through the
                work of my hands and mind, I will express my ideas to the best of my ability. I will make it my goal to
                do better each day the task before me, and to be steadfast in my belief in my God, and my fellow
                Americans.</div>
        </div>
    </div>

</section>
<section>
    <div class="row">
        <div class="col s4">
            <div class="card-panel">
                <center>
                    <h4>Competition</h4>
                </center>
                <img src="/static/images/competition.svg" alt="">
                <p class="text">
                    Through participation in TSA activities, 92% Dubiski TSA members say they
                    learned how to communicate thoughts and ideas,
                    how to organize a presentation and more about what their future professions will entail for
                    them.
                </p>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel">
                <center>
                    <h4>Leadership</h4>
                    <img class="responsive-img" src="/static/images/leadership.png" alt="" width="285" height="60">
                </center>
                <p>
                    Through participation in TSA activities, 92% Dubiski TSA members say they learned how to
                    communicate
                    thoughts and ideas, how to organize a presentation and more about what their future professions
                    will
                    entail for them.
                </p>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>

        <div class="col s4">
            <div class="card-panel">
                <center>
                    <h4>Scholarships</h4>
                </center>
                <center><img class="responsive-img" src="/static/images/scholarcap.png" alt="" width="285" height="120">
                </center>
                <p>
                    Our members say their experience prepared them academically for college and career (88%),
                    influenced their college plans
                </p>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3>Upcoming Events</h3>

        <div class="card-panel">
            <b>GPISD Adopt - A - Street Volunteer Event - March 14th</b>
            <p>
                Earn 75 points toward graduation by volunteering on March 14, 2020 to clean up a street in our city!
                Click the link below to sign up and contact an officer if you have any questions.
            </p>
            <a href="/events" class="btn">Learn More</a>
        </div>
        <br>
        <div class="card-panel">
            <b>GPISD Adopt - A - Street Volunteer Event - March 14th</b>
            <p>
                Earn 75 points toward graduation by volunteering on March 14, 2020 to clean up a street in our city!
                Click the link below to sign up and contact an officer if you have any questions.
            </p>
            <a href="/events" class="btn">Learn More</a>
        </div>

    </div>
</section>
{% endblock body %}