{% extends 'layout.html' %}



{% block body %}
<section>
    <br><br>
    <div class="valign-wrapper container">
        <div class="card-panel">
            <div class="row">
                <div class="col s6">
                    <h2><b>Welcome To Dubiski TSA</b></h2>
                    <p>
                        TSA strengthens STEM’s personal development, leadership and career opportunities by
                        incorporating
                        these principles and implementing them into intracurricular events, competitions and related
                        programs.
                    </p>
                </div>
                <div class="col s6">
                    <img class="responsive-img" src="/static/images/tsa_kids.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="card side z-depth-3">
        <div class="card-content grey lighten-5">
            <center>
                <h5><b>What is TSA?</b></h5>
            </center>
            <p>The Technology Student Association (TSA) is a national organization of students engaged in science,
                technology, engineering, and mathematics (STEM). The Technology Student Association (TSA), formerly the
                American Industrial Arts Association (AIASA),
                is the oldest student membership organization dedicated exclusively to students enrolled in technology
                and engineering education classes in middle and high schools. Its rich history spans four decades. From
                1958 to 1978, AIASA is a sponsored activity
                of the American Industrial Arts Association (AIAA). In 1978, the nonprofit corporation, AIASA, Inc., is
                formed to oversee AIASA as a separate organization. From 1978 to 1988, the organization grows in size,
                strength, structure, and impact on students and secondary school programs. In the summer of 1988, AIASA
                becomes the Technology Student Association.
                Dubiski’s Technology Student Association chapter envokes the mission of TSA by enhancing personal
                development, leadership, and career opportunities in STEM. All while encouraging it’s members to apply
                and integrate these concepts through intracurricular activities, competitions, and other related
                programs.
            </p>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#test4">Our Goals</a></li>
                <li class="tab"><a class="active" href="#test5">Student Members</a></li>
                <li class="tab"><a href="#test6">TSA Creed</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="test4">
                <p>

                    <b>Mission Statement:</b>
                    The Technology Student Association (TSA) enhances personal development,
                    leadership, and career opportunities in science, technology, engineering, and math (STEM), whereby
                    members apply and integrate these concepts through intracurricular activities, competitions, and
                    related programs.
                </p>
                <br>
                <p>

                    <b>Vision:</b>
                    TSA is accelerating student achievement and supporting teachers by providing engaging
                    opportunities to develop STEM skills.
                </p>
                <br>
                <p>

                    <b>Motto:</b>
                    Learning to lead in a technical world.
                </p>
                <br>
            </div>


            <div id="test5">Open to students enrolled in or who have completed technology education courses, TSA’s
                membership includes more than 250,000 middle and high school students across the United States.
                TSA is supported by educators, parents, and business leaders who believe in the need for a
                technologically literate society. Members learn through exciting competitive events, leadership
                opportunities, and much more. A wide range of activities makes TSA a positive experience for every
                student.</div>
            <div id="test6">I believe that Technology Education holds an important place in my life in the technical
                world. I believe there is a need for the development of good attitudes concerning work, tools,
                materials, experimentation, and processes of industry. Guided by my teachers, artisans from industry,
                and my own initiative,
                I will strive to do my best in making my school, community, state, and nation better places in which to
                live. I will accept the responsibilities that are mine. I will accept the theories that are supported by
                proper evidence. I will explore on my own for safer, more effective methods of working and living. I
                will strive to
                develop a cooperative attitude and will exercise tact and respect for other individuals. Through the
                work of my hands and mind, I will express my ideas to the best of my ability. I will make it my goal to
                do better each day the task before me, and to be steadfast in my belief in my God, and my fellow
                Americans.</div>
        </div>
    </div>

</section>
<section>
    <div class="row">
        <div class="col s4">
            <div class="card-panel">
                <center>
                    <h4>Competition</h4>
                </center>
                <img src="/static/images/competition.svg" alt="">
                <p class="text">
                    Through participation members learn to communicate thoughts and ideas,
                   organize a presentation, and learn more about what their future professions will entail for
                them.
                </p>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel">
                <center>
                    <h4>Leadership</h4>
                    <img class="responsive-img" src="/static/images/leadership.png" alt="" width="285" height="60">
                </center>
                <p>
                        Over 90% of our members say their experience empowered them to be effective leaders and connect 
                        school to the real 
                </p>
                <br>
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>

        <div class="col s4">
            <div class="card-panel">
                <center>
                    <h4>Scholarships</h4>
                </center>
                <center><img class="responsive-img" src="/static/images/scholarcap.png" alt="" width="285" height="120">
                </center>
                <p>
                    Our members say their experience prepared them academically for college and career (88%),
                    influenced their college plans
                </p>
                
                <a class="btn" href="/competions">Lean about compettions</a>
            </div>
        </div>
    </div>
</section>


<section id="officers" class="card-panel side">
    <div class="row" style="margin-top: 20px;">
        <div class="col s1"></div>
        <div class="col s5">
            <div class="officer">
                <h2>Reporter: The Beacon Tower</h2>
                <p>It is the duty to see that our school, community, state, and national association have a complete report of our
                        organization's activities.
                        It shall be the duty of the reporter to serve in any capacity as directed by the president; to accumulate and keep upto-date information on the history of the association; to prepare articles for TSA publications, professional
                        magazines and journals, newspapers and other news media; to contact other association members concerning news
                        items for publication; and to be available, as necessary, in promoting the general welfare of TSA.
                </p>
            </div>
        
            <div class="contact">
                <h2>Contact Info</h2>
                <p>email: robert.lonergan@gmail.com</p>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s5 pic">
            <div>
                <div class="mySlides">
                    <div class="numbertext">1 / 8</div>
                    <img src="/static/images/officers/faith.png">
                    <div class="officerName">
                        <h4>Green SLT: Faith </h2>
                        <p>TSA representative on the Student Leadership Team advocate for Career Technical Education and their 
                            Career Technical Student Organizations within their schools, district, and community.
                        </p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: ajankufaith0@gmail.com</p>
                    </div>
                </div>
    
                <div class="mySlides">
                    <div class="numbertext">2 / 8</div>
                    <img src="/static/images/officers/EdithVP.png">
                    <div class="officerName">
                        <h4>Co Vice Preident: Edith </h4>
                        <p>It is the duty of my office to see that we always have a strong membership, a good work program, and are alert to
                                the welfare of our chapter.
                                It shall be the duty of the vice-president to serve in any capacity as directed by the president; to accept the
                                responsibility of the president as occasion may demand; to serve as chairperson of the TSA Council of State
                                Presidents; and to be available, as necessary, in promoting the general welfare of TSA.
                        </p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: edithoyu@gmail.com</p>
                    </div>
                </div>
    
                <div class="mySlides">
                    <div class="numbertext">3 / 8</div>
                    <img src="/static/images/officers/SLTG.png">
                    <div class="officerName">
                        <h4>Gold SLT:Cherlyd</h4>
                        <p>TSA representative on the Student Leadership Team advocate for Career Technical Education and their Career Technical 
                            Student Organizations within their schools, district, and community.
                        </p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: cherldemello5@gmail.com</p>
                    </div>
                </div>
    
                <div class="mySlides">
                    <div class="numbertext">4 / 8</div>
                    <img src="/static/images/officers/SonyaVP.png">
                    <div class="officerName">
                        <h4>Co Vice President: Sonya</h4>
                        <p>It is the duty of my office to see that we always have a strong membership, a good work program, and are alert to
                                the welfare of our chapter.
                                It shall be the duty of the vice-president to serve in any capacity as directed by the president; to accept the
                                responsibility of the president as occasion may demand; to serve as chairperson of the TSA Council of State
                                Presidents; and to be available, as necessary, in promoting the general welfare of TSA.
                        </p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: sonya.reeb1617@gmail.com</p>
                    </div>
                </div>
    
                <div class="mySlides">
                    <div class="numbertext">5 / 8</div>
                    <img src="/static/images/officers/XimenaPrez.png">
                    <div class="officerName">
                        <h4>President: Ximena</h4>
                        <p>The duties vested in me by my officer are to preside at regular and
                                special meetings of this organization and to promote the cooperation in
                                carrying out the activities and work of our organization.
                                It shall be the duty of the president of TSA to preside at all meetings; to make necessary committee appointments
                                including the designation of a committee chairperson; to develop with the Executive Committee a program of work
                                for the term of office; and to be available, as necessary, in promoting the general welfare of TSA.
                        </p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: ximenacanalesgonzalez@gmail.com</p>
                    </div>
                </div>
    
                <div class="mySlides">
                    <div class="numbertext">6 / 8</div>
                    <img src="/static/images/officers/ZackSecr.png">
                    <div class="officerName">
                        <h4>Secretary: Zack</h4>
                        <p>It is my responsibility to see that accurate and proper records are kept of all business and correspondence of this
                                association.
                                It shall be the duty of the secretary to serve in any capacity as directed by the president; to record proceedings of all
                                meetings; and to be available, as necessary, in promoting the general welfare of TSA</p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: rodriguezzackery8@gmail.com</p>
                    </div>
                </div>
    
                <div class="mySlides">
                    <div class="numbertext">7 / 8</div>
                    <img src="/static/images/officers/lonergan.png">
                    <div class="officerName">
                        <h4>Advisor: Mr.Lonergan</h4>
                        <p>The adviser serves as a model for students. By providing leadership, the adviser is an educator, helping students to learn by doing. The adviser provides a sense of direction for the student organization and promotes student and faculty/staff interaction in, and out of, the classroom. An adviser also provides the support necessary for the student leader to build, and maintain, a successful organization.
                        </p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: robert.lonergan@gmail.com</p>
                    </div>
                </div>
    
                <div class="mySlides">
                    <div class="numbertext">8 / 8</div>
                    <img src="/static/images/officers/blosser.png">
                    <div class="officerName">
                        <h4>Advisor: Mr.Blosser</h4>
                        <p>The adviser serves as a model for students. By providing leadership, the adviser is an educator, helping students to learn by doing. The adviser provides a sense of direction for the student organization and promotes student and faculty/staff interaction in, and out of, the classroom. An adviser also provides the support necessary for the student leader to build, and maintain, a successful organization.
                        </p>
                    </div>
                    <div class="contactArea">
                        <h4>Contact Info</h4>
                        <p>email: brian.blosser@gpisd.org</p>
                    </div>
                </div>
    
                <!-- <a class="prev" onclick="plusSlides(-1)">❮</a>
                                    <a class="next" onclick="plusSlides(1)">❯</a> -->
    
                <div class="rows">
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/faith.png" style="width:100%"
                            onclick="currentSlide(1)" alt="The Woods">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/EdithVP.png" style="width:100%"
                            onclick="currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/SLTG.png" style="width:100%"
                            onclick="currentSlide(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/SonyaVP.png" style="width:100%"
                            onclick="currentSlide(4)" alt="Northern Lights">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/XimenaPrez.png" style="width:100%"
                            onclick="currentSlide(5)" alt="Nature and sunrise">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/ZackSecr.png" style="width:100%"
                            onclick="currentSlide(6)" alt="Snowy Mountains">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/lonergan.png" style="width:100%"
                            onclick="currentSlide(7)" alt="Snowy Mountains">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/static/images/officers/blosser.png" style="width:100%"
                            onclick="currentSlide(8)" alt="Snowy Mountains">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="events">
    <div class="container">
        <h3>Upcoming Events</h3>

        <div class="card-panel">
            <h5><b>Fundraiser</b></h5>
            <p>
                    <p>Hello TSA members!&#128513;</p>
                    Starting December 20, 2019, we  will have opportunity to raise money for our chapter and to cover 
                    your membership and/or competition fees. You can either work a table/cart in the morning or afternoon 
                    and/or check out a bag to sell on your own time. If interested please fill out the form below:
            </p>
            <a href="https://forms.gle/d4qejd7po9Yqj1Uk9" class="btn">Sign Up Sheet</a>
        </div>
        <br>
                <div class="card-panel">
                    <h5><b>District Competition</b></h5>
                    <p>
                            <p>Competition Season is upon us.....&#128562; </p>
                            
                    TSA Regionals is February 21 – 22 so make sure you are competition ready and read all the requirements needed
                    for your competition. There is a schedule that has names of contestants make sure you are on there: (updated 9:30 Wednesday evening)
                    on Canva.

                <p>Make sure you check the NQE chart attachment to make sure you know what the expectations are for those events at Regionals below:</p>
                <a href="https://gpisd.instructure.com/courses/109642/files/1492854/download?wrap=1">NQE Chart</a>.</p>
                            
                 <p> Lastly makes sure you are competition is ready, your passing your classes, and pass by our office to get your District Travel Form
                        which are due Feb, 19. If you can't stop by (where there will be printed copies of this) you can download 
                        it <a href="https://gpisd.instructure.com/courses/109642/files/1481405/download?wrap=1">here</a>.
                 </p>      
                </p>
                <a href="https://docs.google.com/spreadsheets/d/1gfZYfwJ7eakYMG6fqqGOosFWGl9f5tOabE-Q6FVxePg/edit#gid=1973223700" class="btn"> Verify Schedule</a>
          
                </div>
                <br>

        <div class="card-panel">
            <h5><b>GPISD Adopt - A - Street Volunteer Event - March 14th</b></h5>
            <p>
                Earn 75 points toward graduation by volunteering on March 14, 2020 to clean up a street in our city!
                Click the link below to sign up and contact an officer if you have any questions.
            </p>
            <a href="/events" class="btn">Learn More</a>
        </div>
        <br>
        <div class="card-panel">
                <h5><b>Volunteer Opportunity: The Big Event</b></h5>
                <p>
                        <p>A chance to earn points &#129321; </p>
                        
                A city-wide volunteerism day event celebrating unity in the community on March 28, 2020, from 8 a.m. - 1 p.m. Who will be
                paired with a volunteer (another TSA member) on a project in the community. Great way to earn hours toward graduation, NHS, and even points
                for our organization. To register make/sign in to BetterImpact and register under TSAdub, to be eligible to claim points take photo's 
                at event and show a officer. 
            </p>
            <a href="https://app.betterimpact.com/PublicEnterprise/596ad6e0-9b98-41bf-8669-40a6ea1b427b" class="btn">Sign Up Today</a>
              
            </div>
            <br>
    </div>
</section>
{% endblock body %}


{% block css %}
<link rel="stylesheet" href="/static/css/officers.css">
<style>
	/* Hide the images by default */
	.mySlides {
		display: none;
		width: 100%;
	}

	/* Add a pointer when hovering over the thumbnail images */
	.cursor {
		cursor: pointer;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 40%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		display: none;
		top: 0;
	}

	/* 8 columns side by side */
	.column {
		float: left;
		width: 6.25%;
	}

	/* Add a transparency effect for thumnbail images */
	.demo {
		opacity: 0.6;
	}

	.active,
	.demo:hover {
		opacity: 1;
	}

	.officerName {
		display: none;
	}

	.contactArea {
		display: none;
	}
</style>

{% endblock css %}

{% block js %}
<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");

		var officers = document.getElementsByClassName("officerName")
		var contactAreas = document.getElementsByClassName("contactArea")

		var officerSection = document.getElementsByClassName("officer")[0];
		var contactSecton = document.getElementsByClassName("contact")[0];

		var dots = document.getElementsByClassName("demo");

		if (n > slides.length) { slideIndex = 1 }
		if (n < 1) { slideIndex = slides.length }
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex - 1].style.display = "block";
		dots[slideIndex - 1].className += " active";

		officerSection.innerHTML = officers[slideIndex - 1].innerHTML;
		contactSecton.innerHTML = contactAreas[slideIndex - 1].innerHTML;

	}
</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var elems = document.querySelectorAll('.carousel');
		var instance = M.Carousel.init(elems, {
			fullWidth: true,
			indicators: true
		});
	});

</script>
{% endblock js %}