<nav class="blue darken-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">TSA</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/officers">Officers Team</a></li>
            <li><a href="/pathways">Pathways and Classes</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/officers">Officers Team</a></li>
    <li><a href="/pathways">Pathways and Classes</a></li>
</ul>