{% extends 'layout.html' %}

{% block css %}
	<link rel="stylesheet" href="/static/css/officers.css">
{% endblock css %}

{% block body %}
<div class="grid-container">
	<div class="team">
		<h2>Meet our team</h2>
		<p>At TSA we divide our team into different rooles this helps to ... Elit ultricies risus nunc elit odio. Sit feugiat et posuere volutpat urna, morbi diam ut viverra.</p>
	</div>

	<div class="picture">
		<center>
			<img src="/static/images/officers/faith.png" alt="">
		</center>
	</div>

	<div class="officer">
		<h2>Reporter</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus ipsum augue augue purus suspendisse.</p>
	
	</div>

	<div class="contact">
		<h2>Contact Info</h2>
		<p>email: robert.lonergan@gmail.com</p>
		<p>phone#: xxx-972-8975</p>
	</div>

	<div class="responsibilities">
		<h2>Responsibilites</h2>
	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Platea a pulvinar elementum consectetur sapien sit tortor. Dui sed dui turpis dui non viverra. </p>
	</div>
</div>
{% endblock body %}
